2013.06.24 - CONF FILE FOR ZET-BOOT SOFTWARE 

[COM_PORT]
ComPortN  = 3
BAUD_RATE = 115200


[BOOT] 
BOOT param // HEX  
SEGMENT    = F000
ADDRESS    = 0000
NofBytes   = FF00
EXEC_ADDR  = E05B

[FILE]
BOOT param // HEX
START_ADR  = 0000